* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("../bootstrap-portfolio/papyrus copy.png");
}

/* .navbar {
    background-color: #ffffff;
} */

/* a.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff; */
    /* padding: 20px; */
    /* margin-left: 75px; */

/* } */

/* a.nav-link {
    color: #777777;
} */


.container {
    width: 100%;
    max-width: 960px;
    border: #dddddd solid 1px;
    padding: 20px;
    margin: 2em auto auto auto;
    background-color: #ffffff;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 30px;
}

hr {
    border: #dddddd solid 1px;
}

.me_image {
    width: 225px;
    height: auto;
    padding-top: 15px;
}

p {
    line-height: 1.5;
    font-size: 20px;
    padding-left: 20px;
}

.img-1 {
    max-width: 400px;
    width: 400px;
    height: auto;
    padding: 20px;
}

.img-2 {
    max-width: 400px;
    width: 400px;
    height: auto;
    padding: 20px;
}

.img-3 {
    max-width: 400px;
    width: 400px;
    height: auto;
    padding: 20px;
}

.img-4 {
    max-width: 400px;
    width: 400px;
    height: auto;
    padding: 20px;
}

.img-5 {
    max-width: 400px;
    width: 400px;
    height: auto;
    padding: 20px;
}


.footer {
    bottom: 0;
    margin: 0;
    position: fixed;
    background-color: #666666;
    width: 100%;
    padding: 20px;
    border-top: #4aaaa5 solid 8px;
    text-align: center;
}